body,
html {
  height: 100%;
}

body {
  font-family: sans-serif;
}

label {
  display: block;
}

form div {
  margin: 1em;
  display: inline-block;
}

a {
  color: gray;
}

.single-product-div {
  width: 90%;
}

.single-product-img {
  width: 100%;
  border-radius: 15px;
}

.single-product-row {
  height: 400px;
  margin-left: auto;
  margin-right: auto;
}

.single-product-info {
  margin-top: 20px;
}

.border-col {
  border: 1px solid gray;
  border-radius: 15px;
}

.icon {
  width: 25px;
}

.login-form {
  width: 40%;
}

.all-products-img {
  width: 100%;
  height: 80%;
  border-radius: 10%;
  padding-top: 10px;
}

.all-products-img-td {
  width: 40%;
}

.all-products-row {
  width: 90%;
  flex-wrap: wrap;
  margin-left: 5%;
  padding-top: 20px;
}

.all-products-item {
  border: 1px solid gray;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-content: center;
  box-shadow: 2px 2px 2px gray;
  padding: 5px;
  padding-bottom: 15px;
}

.all-products-name {
  color: black;
  font-size: medium;
}

.cart-products-img {
  width: 90%;
  border-radius: 15px;
}

.cart-product-row {
  display: flex;
  justify-content: space-between;
}

.cart-products-img-td {
  width: 30%;
}

.product-alert {
  padding-top: 6px;
  padding-bottom: 6px;
}

#all-products-head {
  text-align: center;
}

#header-carousel {
  height: 400px;
}

.carousel-img {
  width: 100%;
}

.carousel-item {
  height: 350px;
}

.carousel-header,
.carousel-body-txt {
  color: white;
  font-family: 'helvetica';
  text-shadow: 2px 2px 5px black;
}

#user-info {
  border: 1px solid gray;
  border-radius: 15px;
  padding-left: 10px;
}

.user-order {
  border: 1px solid gray;
  border-radius: 15px;
  margin-top: 10px;
  padding-left: 10px;
  width: 80%;
}

#not-found {
  text-align: center;
  color: gray;
}

#not-found-img {
  width: 40%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.product-form {
  width: 40%;
  height: 70vh;
  margin: 10px;
}

.submit-btn {
  margin: 5px;
  align-self: center;
}

.edit-products {
  display: flex;
  justify-content: space-between;
}

.edit-users {
  display: flex;
  flex-direction: column;
  width: 70%;
  margin-left: auto;
}

.admin-page {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

#home-div {
  background: url('https://pics.freeartbackgrounds.com/fullhd/Seascape_after_Sunset_Background-990.jpg')
    no-repeat center center fixed;
  background-attachment: fixed;
  background-repeat: no-repeat;
  position: absolute;
  top: 0px;
  left: 0;
  height: 100%;
  width: 100%;
  overflow: hidden;
  text-align: center;
}

#home-content {
  color: white;
  text-shadow: 2px 2px 5px gray;
  position: relative;
  top: 30%;
}

.home-links {
  padding: 20px;
  color: white;
}

.home-links:hover {
  color: darkcyan;
  font-size: 110%;
  transition: color 0.3s;
}

.map-img {
  width: 200px;
}

.cart-render {
  display: flex;
  width: 90%;
  margin-left: 5%;
  justify-content: center;
  align-items: flex-start;
}

.cart-elements {
  display: flex;
  flex-direction: column;
}

.order-total {
  display: flex;
  flex-direction: column;
  width: 200px;
  align-items: flex-end;
}

#user-home {
  width: 90%;
  margin-left: 5%;
}
