body,
html {
  height: 100%;
}

body {
  font-family: sans-serif;
}

label {
  display: block;
}

form div {
  margin: 1em;
  display: inline-block;
}

a {
  color: gray;
}

.single-product-div {
  width: 90%;
}

.single-product-img {
  width: 100%;
  border-radius: 15px;
}

.single-product-row {
  height: 400px;
  margin-left: auto;
  margin-right: auto;
}

.single-product-info {
  margin-top: 20px;
}

.border-col {
  border: 1px solid gray;
  border-radius: 15px;
}

.icon {
  width: 25px;
}

.login-form {
  width: 40%;
}

.all-products-img {
  width: 100%;
  height: 80%;
  border-radius: 10%;
  padding-top: 10px;
}

.all-products-img-td {
  width: 40%;
}

.all-products-row {
  width: 90%;
  flex-wrap: wrap;
  margin-left: 5%;
  padding-top: 20px;
}

.all-products-item {
  border: 1px solid gray;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-content: center;
  box-shadow: 2px 2px 2px gray;
  padding: 5px;
  padding-bottom: 15px;
}

.all-products-name {
  color: black;
  font-size: medium;
}

.cart-products-div {
  width: 90%;
}

.cart-products-img {
  width: 90%;
}

.cart-products-row {
  height: 400px;
}

.cart-products-img-td {
  width: 30%;
}

.product-alert {
  padding-top: 6px;
  padding-bottom: 6px;
}

#all-products-head {
  text-align: center;
}

#header-carousel {
  height: 400px;
}

.carousel-img {
  width: 100%;
}

.carousel-item {
  height: 350px;
}

.carousel-header,
.carousel-body-txt {
  color: white;
  font-family: 'helvetica';
  text-shadow: 2px 2px 5px black;
}

#user-info {
  border: 1px solid gray;
  border-radius: 15px;
}

.user-order {
  border: 1px solid gray;
  border-radius: 15px;
  margin-top: 10px;
  padding-left: 10px;
  width: 80%;
}

.product-form {
  width: 40%;
  height: 70vh;
  margin: 10px;
}

.submit-btn {
  margin: 5px;
  align-self: center;
}

.edit-products {
  display: flex;
  justify-content: space-between;
}

.edit-users {
  display: flex;
  flex-direction: column;
  width: 70%;
  margin-left: auto;
}

.admin-page {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
