body {
  font-family: sans-serif;
}

label {
  display: block;
}

form div {
  margin: 1em;
  display: inline-block;
}

a {
  color: gray;
}

.single-product-div {
  width: 90%;
}

.all-product-div {
  width: 90%;
}

.single-product-img {
  width: 100%;
  border-radius: 15px;
}

.single-product-row {
  height: 400px;
  margin-left: auto;
  margin-right: auto;
}

.all-proucts-row {
  height: 400px;
}

.single-product-info {
  margin-top: 20px;
}

.border-col {
  border: 1px solid gray;
  border-radius: 15px;
}

.icon {
  width: 25px;
}

.login-form {
  width: 40%;
}

.all-products-img {
  width: 50%;
}

.all-products-img-td {
  width: 40%;
}
